body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.h3 {
  text-align:center;
}

.nav-item {
  width:277px;
}

.nav-link {
  text-align: center;
}

.sidemenu {
  float:left;
  width:170px;
  height: 3000px;
}
/* 
.form-check{

} */

.form-check-label {
  margin-bottom:3px;
  margin-top:3px;
  font-size:14px;
}

.label {
  font-size:14px;
  margin-bottom:15px;
  margin-top:15px;
}

.compare {
  border-radius: 7px;
  background-color: white;
  border-width: 1px;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:3px;
  margin-left:150px;
  margin-right:20px;
  margin-bottom:5px;
}

.btn btn-default dropdown-toggle {
  border: solid;
  border-color:black;
}

.nav-link2 {
  text-align:center;
  color:black;
  font-size:12px;
  margin-right:30px;
}

.top-nav {
  margin-left:200px;
}

.water-img {
  width: 6.5cm;
  height: 6.5cm;
  margin:10px;
}


.card-img-header {
  float: left;
  margin: 10px;
}

.card-header-text{
  margin-top: 25px;
  font-size: 13px;
}

.card-title {
  font-size: 18px;
  color: black;
}

.card-text {
  font-size: 12px;
  color: black;
}

.card-price1 {
  font-size: 20px;
  color: black;
}

.card-price2 {
  font-size: 20px;
  color:blueviolet;
}

.won1 {
  font-size: 12px;
  color: black;
  display: inline;

}

.won2 {
  font-size: 12px;
  color: blueviolet;
  display: inline;

}

.card {
  float:right;
  display: inline;
  width: 14rem;
  margin:5px;
}

.nav-menu {
  margin-left: 190px;
}

.content-area {
  display : grid;
  grid-template-columns: repeat(4,1fr);
  margin-left:100;
  margin-right: 390px;
}

.item-img {
  width: 220px;
  height: 220px;
}

.star-yello{
  color:darkorange;
}

.star-black {
  color:gray;
}

.hr {
  margin-top:2600px;
  margin-left:580px;
  margin-right:390px;
}

.page {
  display: inline;
  margin-left:200px;
}

.nextpage {
  color:gray;
  font-size:17px;
  margin-left:40px;
}
